<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.1/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
>
    <testsuites>
        <testsuite name="ImageOrientationFix Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <includePath>.</includePath>
        <const name="INPUT_IMAGES" value="/input_images/"/>
        <const name="OUTPUT_IMAGES" value="/output_images/"/>
    </php>
</phpunit>
