name: Build

on:
  push:
  pull_request:

jobs:
  run:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['7.4', '8.0', '8.1', '8.2']

    name: PHP ${{ matrix.php-versions }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: composer:v2

      - name: Validate composer.json
        run: composer validate

      - name: Install dependencies
        run: composer install -n --no-progress --no-suggest

      - name: Coding Standard Checks
        run: PHP_CS_FIXER_IGNORE_ENV=1 vendor/bin/php-cs-fixer fix --verbose --diff --dry-run

      - name: Run phpunit tests
        run: vendor/bin/phpunit -d memory_limit=-1 --coverage-clover clover.xml

      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
